/*
	Reusable layout elements
*/


ul,li {
	
}

dl {
	
}

.panel {
	
}

.content {
	width: @siteWidth;
	margin: 0 auto;
}

.column {
	.columns(6);
	margin-bottom: 50px;
	
	&.left {
		margin-left: 0;
	}
	
}