/*
	Screen Stuff
*/

#product-details {
	
	h1 {
		.columns(6);
		float: right;
		border-bottom: 1px solid #ccc;	
		padding: 0 0 10px 0;
	}
	
	#product-images {
		.columns(6);
	}

}

#cart {
	#cart-detail {
		width: @siteWidth;
		
		thead {
			th {
				border-bottom: 1px solid #ccc;
				padding: 0 0 10px 0;
				font-size: 13px;
				
				&:first-child {
					text-align: center;
				}
				
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					text-align: right;
				}				
				
			}
		}
		
		tbody {
			td {
				padding: 10px 0;
				border-bottom: 1px dotted #ccc;
				font-size: 14px;
				
				&:first-child {
					width: 120px;
					img {
						border: 1px solid #eaeaea;
					}
				}				
				
				&:nth-child(2) {

				}
				
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					width: 75px;
					text-align: right;
				}
				
				&:nth-child(6){
					width: 50px;
					text-align: center;
				}
				
				h4 {
					font-size: 18px;
					margin: 0 0 3px;
					
					a {
						text-decoration: none;
						color: @red;
						
						&:hover {
							color: darken(@red, 10%);
						}
						
					}
				}
				
				input[type=text]{
					margin: 0 auto;
					width: 20px;
					#font.tk-freight-sans-pro;
					font-size: 14px;
					border: 1px solid #ccc;
					padding: 3px 5px;
					text-align: right;
				}				
			}
		}
		

		
	}

	a.continue {
		text-decoration: none;
		margin: 15px 0 0;
		float: left;
		font-size: 18px;
	}

	#subtotal {
		width: 500px;
		float: right;
		margin: 0 0 50px 0;
		
		h3 {
			margin: 15px 0;
			font-size: 18px;
		}
		
		font-size: 20px;
		text-align: right;
		
		.links {
			a {
				.cg_button_green;
				float: right;
				margin: 0 0 0 10px;
				
				img {
					display: none;
				}
					
			}
		}
	}
	
	#clear_cart_link {
		display: none;
	}
	
	a.delete {
		margin: 3px 0 0 0;
		float: right;
		display: block;
		width: 16px;
		height: 16px;
		background: url(../images/x-icon-sprite.png) 0 0 no-repeat;
		
		img {
			display: none;			
		}
		
		&:hover {
			background: url(../images/x-icon-sprite.png) 0 -18px no-repeat;			
		}
		
	}
	
}

#checkout {
	ol.progress-steps {
		width: @siteWidth;
		float: left;
		margin: 0 0 20px 0;
		border-bottom: 1px solid #ccc;
		padding: 0 0 10px 0;
		
		li {
			float: left;
			list-style-type: decimal;
			margin: 0 20px 0 15px;
			padding-left: 0;
			font-size: 14px;
			color: #000;
			
			&.current-first {
				font-weight: bold;
			}
			
		}
		
	}
	
	
	#checkout-summary {
		.columns(3);
		float: right;	
	}
	
	.edit_order {
		.columns(9);
		margin: 0 0 50px 0;
		
		input[type=submit]{
			.cg_button_green;
			padding-bottom: 24px;
		}
		
		p {
			width: 50%;
			float: left;
			height: 50px;
			
			
		}
	}
	
	#billing {
		border-bottom: 1px solid #cccccc;
	}
		
	
}



/* EXCEPTIONS - WE SHOULD FIX THE CODE SO THAT THESE AREN'T NECESSARY */

#shipping {
	p {
		&.field {
			&.checkbox {
				display: block;
				width: 900px;
				height: 20px;
				float: left;
				clear: both;
					
					#order_use_billing {
						vertical-align: middle;
						margin-right: 2px;
					}					
					
				}

			}
		}
}



#billing {
	div.inner {
		p:first-child {
			display: none !important;
			background: red;
		}
	}
}