/*
	Screen Stuff
*/

#product-details {
	
	h1 {
		.columns(7);
		float: right;
		border-bottom: 1px solid #ccc;	
		padding: 0 0 10px 0;
		
		span {
			float: right;
		}
		
	}

	p.prices {
		float: right;
	}
	
	#product-images {
		.columns(5);
		height: 600px;
		margin-left: 0;
		overflow: hidden;
		
		
		ul {
			list-style-type: none;
			margin: 0;
			
			li {
				&:first-child {
					display: none;
				}
			}
			
		}
	}
	
	#product-description {
		.columns(7);
	}
	
	#cart-form {
		.columns(7);
		position: relative;
		margin-bottom: 30px;
		
		#product-variants {
			.columns(3);
			margin: 0 0 20px 0;
			clear: both;

			h2 {
				display: none;
			}

			ul {
				list-style-type: none;
				margin: 0;
			}
		}		
		
		input#quantity {
			.columns(1);
			margin: 0;
			clear: left;
		}
		
		button[type=submit]{
			.columns(4);
			margin: 0;
			img { display: none; }
			.cg_button_green;
			padding-bottom: 24px;
			font-size: 14px;
			position: absolute;
			top: 0;
			right: 0;
		}				
		
		#add-to-closet-form {
			position: absolute;
			top: 45px;
			right: 0;

			#closet_item_submit {
				.columns(2);
				margin: 0;
				.cg_button_gray;
				text-align: center;
				padding: 4px 0 24px;
				font-size: 10px;			
			}
		}

		#match-to-outfit {
			.columns(2);
			position: absolute;
			top: 45px;
			right: 160px;

			input[type=submit]{
					.columns(2);
					margin: 0;
					.cg_button_gray;
					font-size: 10px;				
					text-align: center;
					padding: 4px 0 24px;
			}

		}			
	}
	
	#related-products {
		.columns(7);
		
		h2 {
			font-size: 18px;
		}
		
		.outfit-item {
			width: 100px;
			float: left;
			margin: 0 10px 10px 0;
			
			img {
				border: 1px solid #ccc;
				margin: 0 0 3px;
				float: left;
			}
			
			a {
				color: #333;
				text-decoration: none;
				float: left;
				
				&:hover {
					color: @red;
				}
				
			}
			
		}
		
	}
	

	
	#taxon-crumbs {
		.columns(12);
		margin: 0;
	}
	

	


}

#cart {
	#cart-detail {
		width: @siteWidth;
		
		thead {
			th {
				border-bottom: 1px solid #ccc;
				padding: 0 0 10px 0;
				font-size: 13px;
				
				&:first-child {
					text-align: center;
				}
				
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					text-align: right;
				}				
				
			}
		}
		
		tbody {
			td {
				padding: 10px 0;
				border-bottom: 1px dotted #ccc;
				font-size: 14px;
				
				&:first-child {
					width: 120px;
					img {
						border: 1px solid #eaeaea;
					}
				}				
				
				&:nth-child(2) {

				}
				
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					width: 75px;
					text-align: right;
				}
				
				&:nth-child(6){
					width: 50px;
					text-align: center;
				}
				
				h4 {
					font-size: 18px;
					margin: 0 0 3px;
					
					a {
						text-decoration: none;
						color: @red;
						
						&:hover {
							color: darken(@red, 10%);
						}
						
					}
				}
				
				input[type=text]{
					margin: 0 auto;
					width: 20px;
					#font.tk-freight-sans-pro;
					font-size: 14px;
					border: 1px solid #ccc;
					padding: 3px 5px;
					text-align: right;
				}				
			}
		}
		

		
	}

	a.continue {
		text-decoration: none;
		margin: 15px 0 0;
		float: left;
		font-size: 18px;
	}

	#subtotal {
		width: 500px;
		float: right;
		margin: 0 0 50px 0;
		
		h3 {
			margin: 15px 0;
			font-size: 18px;
		}
		
		font-size: 20px;
		text-align: right;
		
		.links {
			a {
				.cg_button_green;
				float: right;
				margin: 0 0 0 10px;
				
				img {
					display: none;
				}
					
			}
		}
	}
	
	#clear_cart_link {
		display: none;
	}
	
	a.delete {
		margin: 3px 0 0 0;
		float: right;
		display: block;
		width: 16px;
		height: 16px;
		background: url(../images/x-icon-sprite.png) 0 0 no-repeat;
		
		img {
			display: none;			
		}
		
		&:hover {
			background: url(../images/x-icon-sprite.png) 0 -18px no-repeat;			
		}
		
	}
	
}

#checkout {
	ol.progress-steps {
		width: @siteWidth;
		float: left;
		margin: 0 0 20px 0;
		border-bottom: 1px solid #ccc;
		padding: 0 0 10px 0;
		
		li {
			float: left;
			list-style-type: decimal;
			margin: 0 20px 0 15px;
			padding-left: 0;
			font-size: 14px;
			color: #000;
			
			&.current-first {
				font-weight: bold;
			}
			
		}
		
	}
	
	
	#checkout-summary {
		.columns(3);
		float: right;	
		
		h3 {
			font-size: 18px;
		}
		
		table {
			width: 100%;
			
			td {
				border-top: 1px dotted #cccccc;
				font-size: 12px;
				
				strong {
					font-weight: normal;
				}
				
				&:nth-child(2){
					text-align: right;
				}	
			}			
		}
		
	}
	
	.edit_order {
		.columns(9);
		margin: 0 0 50px 0;
		
		fieldset {
			.columns(9);
			margin-left: 0;
		}
		
		input[type=submit]{
			.cg_button_green;
			padding-bottom: 24px;
		}
		
		p {
			width: 50%;
			float: left;
			height: 50px;
			
			
		}
	}
	
	#billing {
		border-bottom: 1px solid #cccccc;
	}
}

#tabs {
	padding: 0;
	
	.ui-tabs-nav {
		padding: 0;
		float: left;
		width: @siteWidth;
		
		li {
			padding: 0 20px 0 0;
			
			a {
				padding: 0;
			}
		}
	}
	
	h2 {
		margin: 10px 0;
		font-size: 20px;
	}
	
	#account_summary, 
	#account_my_orders {
		float: left;
		width: @siteWidth;		
		padding: 0;
		margin-bottom: 50px;
	}
	
	input[type=submit]{
		.cg_button_green;
		padding-bottom: 24px;
		margin-top: 10px;
	}
	
}



/* EXCEPTIONS - WE SHOULD FIX THE CODE SO THAT THESE AREN'T NECESSARY */

#shipping {
	p {
		&.field {
			&.checkbox {
				display: block;
				width: 900px;
				height: 20px;
				float: left;
				clear: both;
					
					#order_use_billing {
						vertical-align: middle;
						margin-right: 2px;
					}		
				}

			}
		}
}



#billing {
	div.inner {
		p:first-child {
			display: none !important;
			background: red;
		}
	}
}