/* 
	General structure of site
*/

body {
	background: #000000;
	#font.tk-freight-sans-pro;	
}

#toolbar {
	height: 30px;
	#font.tk-freight-sans-pro;
	
	ul {
		width: @siteWidth;
		margin: 0 auto;
		height: 30px;
		overflow: hidden;
		z-index: 1;
		
		li {
			list-style-type: none;
			float: left;
			display: inline;
			
			a {
				text-decoration: none;
			}
			
			&.social {
				a,span {
					margin: 6px 0;
					display: block;
					padding: 0 10px 3px;
					color: #cccccc;
					border-right: 1px solid #666666;
					font-size: 1.1em;
					height: 15px;
					
					&:hover {
						color: @red;
					}
					
				}
				
				span { 
					border: none; 
					
					&:hover {
						color: #cccccc;
					}
				}
			}
			
			&.facebook {
				a {
					padding-left: 0;
				}
			}
			
			&.action {
				float: right;
				width: 150px;
				height: 30px;
				border-left: 1px solid #fafafa;
				
				&:hover {
					background: lighten(#000000, 20%);
					cursor: pointer;
					text-shadow: 1px 1px 0 #333333;				
				}				
									
				a {
					float: left;
					display: block;
					padding: 5px 15px 7px 15px;
					color: #ffffff;
					font-size: 1.2em;
					
	
					&:hover {
						color: #ffffff;
					}
				}	
				
				ul { display: none; }
				
				
				
				&.cart {
					border-right: 1px solid #fafafa;
				}
				
				&:hover {
					ul {
						display: block;
						position: absolute;
						top: 30px;
						width: 150px;
						height: auto;
						
						li {
							background: #000000;
							border-top: 1px solid #fafafa;
							width: 150px;
														
							&:hover {
								background: lighten(#000000, 20%);
								cursor: pointer;
								text-shadow: 1px 1px 0 #333333;
							}
						}
					}
				}
			}	
		}
		
	}
}

header {
	text-align: center;
	padding: 30px 0 20px;
	width: 100%;
	
	img#tagline,
	img#logo,
	a#logo_container,
	.hline {
		clear: both;
		display: block;
		margin: 0 auto;
	}
	
	a#logo_container {
		width: 447px;
		height: 23px;
		overflow: hidden;
		
		&:hover {
			img {
				margin-top: -50px
			}
		}
		
	}
	
	img#tagline {
		margin: 15px auto 10px;
	}
	
	ul {
		margin: 0 auto;
		width: @siteWidth;
		height: 35px;
		overflow: hidden;
		
		li {
			display: inline;
			float: left;
			
			a,
			a:visited {
				margin: 2px 5px 4px;
				padding: 0 10px 0 0;
				display: block;
				float: left;
				color: #000000;
				text-decoration: none;
				font-size: 1.15em;
				text-transform: uppercase;
				font-weight: bold;
				border-right: 1px solid #ccc;
				
				&:hover {
					color: @red;
				}
				
			}
			
			&.lookbooks {
				a {
					margin-left: 0;
				}
			}
			
			&.sale {
				a {
					border: none;
					padding-right: 0;
					margin-right: 0;
					color: #d64e28;
				}
			}
			
			&.search {
				float: right;
				
				form {
					margin: 0;
					background: #ffffff;
					border: 1px solid #cccccc;
					
					input[type=text]{
						border: none;
						padding: 4px;
					}
					
					input[type=submit]{
						border: none;
						background: #fff;
						text-indent: -9999px;
						width: 20px;
						height: 15px;
						margin: 0 3px 0 0;
						background: url('../images/template/search-glass-sprite.png') 0 0;
						border-left: 1px solid #eaeaea;
						
						&:hover {
							background: url('../images/template/search-glass-sprite.png') 0 -20px;
						}
					}
					
				}
			}
		}
	}
	
}

footer { 
	color: #ffffff;
	height: auto;
	background: #000000;
	min-height: 300px;
	
	#expanded_footer {
		width: @siteWidth;
		margin: 0 auto;
		padding: 20px 0;
		display: block;
		height: 100px;
		border-bottom: 1px solid #ffffff;
		
		div {
			.columns(4);
			
			h2 {
				font-size: 1.2em;
				text-transform: uppercase;
				font-weight: normal;
			}
			
			p {
				color: #999;
				font-size: 1.15em;
				line-height: 1.3em;
				margin: 0 0 10px 0;
			}
			
			a {
				color: @red;
				margin: 0 0 10px 0;
				text-decoration: none;
				font-size: 1.15em;
				
				&:hover {
					color: #ffffff;
				}
				
			}
			
			
		}
		
	}
	
	form {
		width: @siteWidth;
		margin: 20px auto 30px;
		display: block;
		clear: both;
		
		p {
			float: left;
			font-size: 1.5em;
			
			strong {
				color: @red;
			}
			
		}
		
		fieldset {
			float: right;
			background: #ffffff;
			padding: 2px;
			border: 1px solid #ccc;
			
			input[type=text],
			input[type=email],{
				border: none;
			}
			
			.error {
				display: none;
			}
			
			input[type=submit]{
				border: none;
				border-left: 1px solid #cccccc;
				background: #ffffff;
				color: @red;
				text-transform: uppercase;
				font-size: 0.9em;
				padding: 3px 10px;
				font-weight: bold;
				
				&:hover {
					color: darken(@red, 20%);
				}
			}
			
		}	
	}
	
	ul {
		width: @siteWidth;
		margin: 0 auto;
		display: block;
		clear: both;
		color: #999999;
		font-size: 1.1em;
		
		li {
			list-style-type: none;
			display: inline;
			
			a, a:visited {
				color: #999999;
				text-decoration: none;
				border-right: 1px solid #999999;
				margin: 0 5px 0 0;
				padding: 0 8px 0 0;
				
				&:hover {
					color: @red;
				}
			}
			
			&.contact_us {
				a {
					border: none;
				}
			}
			
			&.copyright {
				float: right;
			}
		}
	}
	
}


header,
#wrapper{
	background: url(../images/background-texture.jpg) #fafafa;
	width: 100%;
	overflow: hidden;
}

#wrapper {
	padding-bottom: 50px;
}

#content {
	width: @siteWidth;
	margin: 0 auto;
}

.pagination {
	font-size: 15px;
	
	span, em, a {
		margin-right: 3px;
	}
	
	em {
		color: #000;
	}
	
	.disabled {
		color: #999;
	}
	
	a {
		color: @red;
		
		&:hover {
			color: darken(@red, 20%);
		}
	}
}

/* HOME */

#features {
	.content;
	
	> a, > a:visited {
		width: 280px;
		padding: 5px 9px 9px;
		border: 1px solid #eaeaea;
		display: block;
		float: left;
		background: #ffffff;
		margin: 0 0 20px 20px;
		text-decoration: none;
		color: #333;
		
		&:first-child {
			margin-left: 0;
		}
		
		h2 {
			font-size: 1.2em;
			padding: 5px 0 10px;
			text-transform: uppercase;
			font-weight: normal;
			border-bottom: 1px solid #eaeaea;
			text-decoration: none !important;
			text-align: center;
		}
		
		img {
			float: left;
			margin: 0 10px 0 0;
			border: 1px solid #ffffff;
		}
		
		h3 {
			font-size: 1.2em;
			font-weight: bold;
			margin: 0 0 2px 0;
		}
		
		p.description {
			margin: 0 0 10px 0;
			font-size: 1.15em;
			line-height: 1.2em;
		}
		
		&:hover {
			
			border: 1px solid lighten(@red, 40%);
			
			img { border: 1px solid lighten(@red, 40%); }
			
			h2, span.price {
				color: @red;
			}
		}
				
	}
}

#slideshow {
	
	&.lookbook {
		margin: 0 0 40px 0;
		height: 600px;
		background: red;
		
		.slideshow_wrapper { 
			height: 600px; 
			background: red;
		}	
		
		.coda-nav-right,
		.coda-nav-left {
			top: 265px;
		}			
		
	}	
	
	width: @siteWidth;
	margin: 0 auto;
	height: 450px;
	overflow: hidden;
	position: relative;
	
	.slideshow-wrapper,
	.coda-slider-wrapper,
	.coda-slider {
		width: @siteWidth;
		position: relative;	
		padding: 0;
	}
	
	.slideshow_wrapper {
		height: 450px;
		padding: 0;
	}
	
	.coda-nav-right,
	.coda-nav-left {
		position: absolute;
		z-index: 999;
		top: 190px;
		width: 40px;
		height: 81px;
		
		a {
			width: 40px;
			height: 80px;
			background: red;
			display: block;
			text-indent: -9999px;
		}
	}
	
	.coda-nav-left {
		left: 0;
		
		a {
			background: url('../images/template/hero-prev-next.png') no-repeat -42px 0;
			&:hover { background: url('../images/template/hero-prev-next.png') no-repeat -42px -100px; }
		}
	}
	
	.coda-nav-right {
		right: 0;
		
		a {
			background: url('../images/template/hero-prev-next.png') no-repeat 0 0 ;
			&:hover { background: url('../images/template/hero-prev-next.png') no-repeat 0 -100px; }
		}		
		
	}
	
	.coda-nav { display: none; }
	.coda-slider {
		.panel-wrapper {
			padding: 0;
			position: relative;		
		}
		
		.panel {
			width: @siteWidth;
			
			img {
				position: relative;
				z-index: 1;
			}
			
			h2, h3, h4, a {
				position: absolute;
				z-index: 3;
				// top: 0;
				text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);				
			}
			
			h2 {
				font-size: 3.5em;
				color: #ffffff;
				top: 100px;
				left: 40px;
				text-transform: uppercase;
				font-weight: 400;
			}
			
			a.main {
				top: 130px;
				left: 40px;
				color: #ffffff;
				font-size: 1.55em;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 400;				
			}
			
			a.product,
			.pulsar {
				display: block;
				text-indent: -9999px;
				height: 20px;
				width: 20px;
				.border-radius(20px);
				background: rgba(0,0,0,0.0);
				position: absolute;
				
			}
			
			.pulsar {
				border: 10px solid rgba(211,79,40,0.25);
				background: none;
				z-index: 2;
				-webkit-animation: pulsar 1s infinite;
			}
		}		
	}	
}

#value_statement {
	width: @siteWidth;
	margin: 20px auto;
	padding: 10px 0 13px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;	
	display: block;
	text-align: center;
	font-size: 22px;
	
	strong {
		color: @red;
		font-weight: normal;
	}
}

#collection {
	
	.product-listing {
		float: left;
		width: @siteWidth;
		list-style-type: none;
		margin: 0;
		
		li {
			display: inline-block;
			width: 220px;
			margin-right: 17px;
			margin-bottom: 30px;
			text-align: left;
			
			&:nth-child(4n){
				margin-right: 0;
			}

			img {
				width: 220px;
				border: 1px solid #cdcdcd;
				/*height: 180px;*/
			}

			a {
				text-decoration: none;
				color: #333;
				
				h2 {
					font-size: 16px;
					margin: 0;
				}				
				
				span.price {
					#font.tk-freight-sans-pro;							
					font-size: 14px;
					color: #666;
				}
				
				&:hover {
					
					h2, span {
						color: @red;						
					}
					
					img {
						border: 1px solid lighten(@red, 20%);
					}
				}
				
			}
		}
	}
}

div#new-customer,
div#existing-customer {
	br { display: none; }
	font-size: 14px;

	h2 {
		font-size: 18px;
	}
	
	form {
		margin: 0 0 20px 0;
		float: left;
		width: @siteWidth;		
	}
	
	#password-credentials {
		float: left;
		width: @siteWidth;
		
		p {
			.columns(6);
		
		}
	}
	
	label {
		clear: both;
		display: block;
		font-size: 13px;
	}

	input[type=text],
	input[type=password]{
		width: 95%;
		font-size: 18px;
		padding: 5px 10px;
		color: #333;
		background: #fff;
	}	
	
	p {
		float: left;
		width: @siteWidth;
		
		#user_remember_me {
			margin: 7px 5px 0 0;
			float: left;
		}
		
		label[for=user_remember_me]{
			clear: none;
			padding: 0;
			margin-top: -5px;
		}
		
		input[type=submit]{
			.cg_button_green;
			padding: 4px 20px 24px;
			font-size: 14px;
		}
		
	}
}

div#new-customer {
	p {
		.columns(4);
		margin-left: 0;
	}
	
	#password-credentials {
		.columns(8);
		
		p {
			.columns(4);
		}
		
		
	}
}

form#user_new {
	
	p {
		.columns(6);
		clear: both;
		margin: 0 0 20px;
		
		label {
			font-size: 13px;
		}
			
		
		input[type=email]{
			width: 100%;
		}
	}
	
	input[type=submit]{
		.cg_button_green;
		padding: 4px 20px 24px;
		font-size: 14px;
	}
}

/* SLOTS */

@-webkit-keyframes pulsar {
        0% 		{ opacity: 0.75; 	}
		50% 	{ opacity: 1.0		}
        100% 	{ opacity: 0.75; 	}
}

#slot_1 {
	.product.a 	{ top: 300px; 	left: 300px; }
	.pulsar.a 	{ top: 290px; 	left: 290px; }
	.product.b 	{ top: 250px; 	left: 620px; }
	.pulsar.b 	{ top: 240px; 	left: 610px; }	
	.product.c 	{ top: 50px; 	left: 670px; }
	.pulsar.c 	{ top: 40px; 	left: 660px; }	
}

#slot_2 {
	.a { top: 300px; left: 300px; }
	.b { top: 250px; left: 620px; }	
	.c { top: 100px; left: 570px; }
}

#slot_3 {
	.a { top: 300px; left: 300px; }
}