@import "existing.css";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
body{font:13px/1.231 sans-serif;*font-size:small;}
select,input,textarea,button{font:99% sans-serif;}
pre,code,kbd,samp{font-family:monospace,sans-serif;}
html{overflow-y:scroll;}
a:hover,a:active{outline:none;}
ul,ol{margin-left:2em;}
ol{list-style-type:decimal;}
nav ul,nav li{margin:0;list-style:none;list-style-image:none;}
small{font-size:85%;}
strong,th{font-weight:bold;}
td{vertical-align:top;}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;padding:15px;}
textarea{overflow:auto;}
.ie6 legend,.ie7 legend{margin-left:-7px;}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom;}
.ie7 input[type="checkbox"]{vertical-align:baseline;}
.ie6 input{vertical-align:text-bottom;}
label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer;}
button,input,select,textarea{margin:0;}
input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0px 0px 5px red;-webkit-box-shadow:0px 0px 5px red;box-shadow:0px 0px 5px red;}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd;}
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none;}
::selection{background:#FF5E99;color:#fff;text-shadow:none;}
a:link{-webkit-tap-highlight-color:#FF5E99;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
body,select,input,textarea{color:#444;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
a,a:active,a:visited{color:#607890;}
a:hover{color:#036;}
.clearfix{zoom:1;}.clearfix:after{display:block;visibility:hidden;height:0;clear:both;content:".";}
.center-block{display:block;margin:0 auto;}
.container{width:940px;margin:0 auto;zoom:1;content:"\0020";display:block;height:0;overflow:hidden;zoom:1;}.container:after{display:block;visibility:hidden;height:0;clear:both;content:".";}
#flexbox .display-box{display:-moz-box;display:-webkit-box;display:box;}
body{background:#000000;}
#toolbar{height:30px;}#toolbar ul{width:940px;margin:0 auto;height:30px;overflow:hidden;}#toolbar ul li{list-style-type:none;float:left;display:inline;}#toolbar ul li a{text-decoration:none;}
#toolbar ul li.social a,#toolbar ul li.social span{margin:8px 0;display:block;padding:0px 8px;color:#cccccc;border-right:1px solid #666666;font-size:0.9em;}#toolbar ul li.social a:hover,#toolbar ul li.social span:hover{color:#d34f28;}
#toolbar ul li.social span{border:none;}#toolbar ul li.social span:hover{color:#cccccc;}
#toolbar ul li.facebook a{padding-left:0;}
#toolbar ul li.action{float:right;width:150px;height:30px;border-left:1px solid #fafafa;}#toolbar ul li.action:hover{background:#333333;cursor:pointer;text-shadow:1px 1px 0 #333333;}
#toolbar ul li.action a{float:left;display:block;padding:7px 15px 7px 15px;color:#ffffff;font-size:1.0em;}#toolbar ul li.action a:hover{color:#ffffff;}
#toolbar ul li.action ul{display:none;}
#toolbar ul li.action.cart{border-right:1px solid #fafafa;}
#toolbar ul li.action:hover ul{display:block;position:absolute;top:30px;width:150px;height:auto;}#toolbar ul li.action:hover ul li{background:#000000;border-top:1px solid #fafafa;width:150px;}#toolbar ul li.action:hover ul li:hover{background:#333333;cursor:pointer;text-shadow:1px 1px 0 #333333;}
header{text-align:center;padding:30px 0;width:100%;}header img#tagline,header img#logo,header .hline{clear:both;display:block;margin:0 auto;}
header img#tagline{margin:15px auto 10px;}
header ul{margin:0 auto;width:940px;height:40px;overflow:hidden;}header ul li{display:inline;float:left;}header ul li a,header ul li a:visited{margin:5px 5px 7px;padding:2px 10px 0 0;display:block;float:left;color:#000000;text-decoration:none;font-size:1.0em;text-transform:uppercase;font-weight:bold;border-right:1px solid #ccc;}header ul li a:hover,header ul li a:visited:hover{color:#d34f28;}
header ul li.lookbooks a{margin-left:0;}
header ul li.sale a{border:none;padding-right:0;margin-right:0;color:#d64e28;}
header ul li.search{float:right;}header ul li.search form{margin:2px 0;background:#ffffff;border:1px solid #cccccc;}header ul li.search form input[type=text]{border:none;padding:4px;}
header ul li.search form input[type=submit]{border:none;background:#fff;text-indent:-9999px;width:15px;height:15px;}
footer{color:#ffffff;height:auto;background:#000000;}footer #expanded_footer{width:940px;margin:0 auto;padding:20px 0;display:block;height:100px;border-bottom:1px solid #ffffff;}footer #expanded_footer div{display:inline;float:left;width:300px;margin-left:20px;}footer #expanded_footer div:first-child{margin-left:0;}
footer #expanded_footer div h2{font-size:1.0em;text-transform:uppercase;font-weight:normal;}
footer #expanded_footer div p{color:#999;font-size:1.0em;line-height:1.5em;margin:0 0 10px 0;}
footer #expanded_footer div a{color:#d34f28;margin:0 0 10px 0;text-decoration:none;}footer #expanded_footer div a:hover{color:#ffffff;}
footer form{width:940px;margin:20px auto 30px;display:block;clear:both;}footer form p{float:left;font-size:1.25em;}footer form p strong{color:#d34f28;}
footer form fieldset{float:right;background:#ffffff;padding:2px;border:1px solid #ccc;}footer form fieldset input[type=text]{border:none;}
footer form fieldset input[type=submit]{border:none;border-left:1px solid #cccccc;background:#ffffff;color:#999999;text-transform:uppercase;font-size:0.8em;padding:3px 10px;font-weight:bold;}
footer ul{width:940px;margin:0 auto;display:block;clear:both;color:#999999;font-size:0.875em;}footer ul li{list-style-type:none;display:inline;}footer ul li a,footer ul li a:visited{color:#999999;text-decoration:none;border-right:1px solid #999999;margin:0 5px 0 0;padding:0 8px 0 0;}footer ul li a:hover,footer ul li a:visited:hover{color:#d34f28;}
footer ul li.contact_us a{border:none;}
footer ul li.copyright{float:right;}
header,#wrapper{background:url(../images/background-texture.jpg) #fafafa;width:100%;overflow:hidden;}
#features{width:940px;margin:0 auto;}#features>a,#features>a:visited{width:280px;padding:9px;border:1px solid #eaeaea;display:block;float:left;background:#ffffff;margin:0 0 20px 20px;text-decoration:none;color:#333;}#features>a:first-child,#features>a:visited:first-child{margin-left:0;}
#features>a h2,#features>a:visited h2{font-size:1.0em;padding:5px 0 10px;text-transform:uppercase;font-weight:normal;border-bottom:1px solid #eaeaea;text-decoration:none !important;text-align:center;}
#features>a img,#features>a:visited img{float:left;margin:0 10px 0 0;}
#features>a h3,#features>a:visited h3{font-size:1.1em;font-weight:bold;margin:0 0 5px 0;}
#features>a p.description,#features>a:visited p.description{margin:0 0 10px 0;}
#features>a:hover h2,#features>a:visited:hover h2,#features>a:hover span.price,#features>a:visited:hover span.price{color:#d34f28;}
h1{font-size:2.00em;margin-bottom:10px;}
h2{font-size:1.75em;margin-bottom:10px;}
h3{font-size:1.50em;margin-bottom:10px;}
h4{font-size:1.25em;margin-bottom:10px;}
h5{font-size:1.00em;margin-bottom:10px;}
h6{font-size:0.75em;margin-bottom:10px;}
p{margin-bottom:20px;}
p:last-child{margin-bottom:0;}
.content{width:940px;margin:0 auto;}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr;}
.hidden{display:none;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media all and (orientation:portrait){}@media all and (orientation:landscape){}@media screen and (max-device-width: 480px){}@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{color:#444 !important;text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
