h1 { 
	#font.tk-freight-sans-pro;
	font-size: 26px; 
	margin: 10px 0 20px;
	color: #000;
}
h2 { font-size: 24px; margin-bottom: 10px; #font.tk-freight-sans-pro; }
h3 { font-size: 1.50em; margin-bottom: 10px; #font.tk-freight-sans-pro; }
h4 { font-size: 1.25em; margin-bottom: 10px; #font.tk-freight-sans-pro; }	
h5 { font-size: 1.00em; margin-bottom: 10px; #font.tk-freight-sans-pro; }
h6 { font-size: 0.75em; margin-bottom: 10px; #font.tk-freight-sans-pro; }

p  {
	#font.tk-freight-sans-pro;
	font-size: 15px; 
	line-height: 24px;
	margin-bottom: 20px;
}
p:last-child { margin-bottom: 0; }
span {}