<% if product.has_variants? %>
  <div id="product-variants">
    <%  has_checked = false
    variant_select_values = {}
    product.variants.active.each_with_index do |v,index|
      next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
      checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
      has_checked = true if checked %>
      
      <%  if variant_select_values.has_key?(v.options_text_label) 
            variant_select_values[v.options_text_label] << [v.option_text_for_select,v.id]
          else
            variant_select_values = variant_select_values.merge({v.options_text_label => [[v.option_text_for_select,v.id]]})
          end %>          
    <% end %>
    <% variant_select_values.each do |key, value| %>
      <% if variant_select_values.size > 0 %>
        <%= select "", "products[#{product.id}]", options_for_select(value) ,:prompt => key %>
      <% end %>
    <% end %>
  </div>
<% end%>