<section id="expanded_footer">
	<div id="connect">
		<h2>Connect with Combat Gent</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam massa.</p>		
		<%= link_to "Facebook", '#' %>&nbsp;|
		<%= link_to "Twitter", '#' %>&nbsp;|
		<%= link_to "Tumblr", '#' %>
	</div>
	<div id="blog" class="last">
		<h2>Recent from Blog</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam massa.</p>		
		<a href="#">Continue Reading</a>
	</div>
	<div id="returns_exchanges">
		<h2>Returns &amp; Exchanges</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam massa.</p>
		<a href="#">Make a return/exchange</a>
	</div>
	<hr />
</section>