<section id="expanded_footer">
	<div id="connect">
		<h2>Connect with Combat Gent</h2>
		<p>Stay current with our latest and greatest through a social network of your choosing.</p>
		<%= link_to "Facebook", 'http://www.facebook.com/combatgent' %>&nbsp;&nbsp;|&nbsp;
		<%= link_to "Twitter", 'http://www.twitter.com/combatgent' %>&nbsp;&nbsp;|&nbsp;
		<%= link_to "Tumblr", 'http://blog.combatgent.com' %>
	</div>
	<div id="blog" class="last">
		<h2>Latest Blog</h2>
		<p id="tumbtitle">Musings from our venerable fashion mavens. Click below to see how the sausage is made.</p>		
		<a href="#" id="tumblink">Read It</a>
	</div>
	<div id="returns_exchanges">
		<h2>Returns &amp; Exchanges</h2>
		<p>Didn't fit the way you had hoped? Products damaged by a careless mail person? We'll make things right.</p>
		<%= link_to 'Make a return/exchange', page_path('returns-exchanges') %>
	</div>
	<hr />
</section>

