<section id="expanded_footer">
	<div id="connect">
		<h2>Connect with Combat Gent</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam massa.</p>
		<%= link_to "Facebook", 'http://www.facebook.com/combatgent' %>&nbsp;&nbsp;|&nbsp;
		<%= link_to "Twitter", 'http://www.twitter.com/combatgent' %>&nbsp;&nbsp;|&nbsp;
		<%= link_to "Tumblr", 'http://blog.combatgent.com' %>
	</div>
	<div id="blog" class="last">
		<h2>Latest Blog</h2>
		<p id="tumbtitle"></p>		
		<a href="#" id="tumblink">Read It</a>

	</div>
	<div id="returns_exchanges">
		<h2>Returns &amp; Exchanges</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quam massa.</p>
		<a href="#">Make a return/exchange</a>
	</div>
	<hr />
</section>