<%= form_tag '#', :id => "mailing_list_footer" do %> 
	<p><strong>Join our mailing list!</strong> Sign up to receive emails with updates and special offers</p> 
	<fieldset> 
		<%= text_field_tag 'email' %> 
		<%= submit_tag "Sign Up" %> 
	</fieldset> 
<% end %>