<form action="http://combatgent.us2.list-manage.com/subscribe/post?u=2be61b8047b53ce636e939420&amp;id=d9662ef326" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<p><strong>Join our mailing list!</strong>&nbsp;&nbsp;Sign up to receive emails with updates and special offers</p> 
	<fieldset>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@email.com">
		<input type="submit" value="Subscribe" name="Sign Up" id="mc-embedded-subscribe" class="button">
	</fieldset>
</form>