<li class="lookbooks"><%= link_to 'Lookbooks', lookbooks_path %></li>
<% Taxon.header_navigation.each do |taxon| %>
  <li><%= link_to taxon.name, seo_url(taxon) %></li>
<% end %>
<li class="sale"><%= link_to 'Sale', '#' %></li>
