<li class="search">
<%= form_tag products_url, :method => :get do %>
  <%= text_field_tag :keywords, params[:keywords], :placeholder => "Search" %>
  <%= submit_tag t(:search), :name => nil %>
<% end %>
</li>