<section id="slideshow">
	<div id="slideshow_wrapper">
	  <div class="coda-slider-wrapper">
	    <div class="coda-slider preload" id="coda-slider-1"> 
				<div class="panel"> 
					<div class="panel-wrapper"> 
						<%= image_tag 'homepage/ties-assortment.jpg', :alt => "Ties Assortment" %> 
					</div> 
				</div> 
				<div class="panel"> 
					<div class="panel-wrapper"> 
						<%= image_tag 'homepage/pants-assortment.jpg', :alt => "Assorted Pants" %> 
					</div> 
				</div> 
				<div class="panel"> 
					<div class="panel-wrapper"> 
						<%= image_tag 'homepage/purple-shirt-closeup.jpg', :alt => "Purple Shirt" %> 
					</div> 
				</div> 
			</div><!-- .coda-slider --> 
		</div><!-- .coda-slider-wrapper -->	
	</div><!-- /.slideshow-wrapper -->
</section>