<section id="slideshow">
	<div id="slideshow_wrapper">
	  <div class="coda-slider-wrapper">
	    <div class="coda-slider preload" id="coda-slider-1"> 
				<div class="panel"> 
					<div class="panel-wrapper" id="slot_1">
						<%= image_tag 'homepage/ties-assortment.jpg', :alt => "Ties Assortment" %> 
						<h2>Tons of Ties</h2>
						<a class="main" href="#">Get them now</a>
						<!-- <div class="pulsar a"></div>						
						<a class="product a" href="#">X</a>
						<div class="pulsar b"></div>						
						<a class="product b" href="#">X</a>
						<div class="pulsar c"></div>						
						<a class="product c" href="#">X</a> -->
					</div> 
				</div> 
				<div class="panel"> 
					<div class="panel-wrapper" id="slot_2"> 
						<%= image_tag 'homepage/pants-assortment.jpg', :alt => "Assorted Pants" %> 
						<h2>Fall Slack Styles</h2>
						<a class="main" href="#">Try them on</a>						
						<a class="product a" href="#">X</a>
						<a class="product b" href="#">X</a>
						<a class="product c" href="#">X</a>
					</div> 
				</div> 
				<div class="panel"> 
					<div class="panel-wrapper" id="slot_3"> 
						<%= image_tag 'homepage/suit-laydown.jpg', :alt => "Suit Jacket" %> 
						<h2>Suit Yourself</h2>
						<a class="main" href="#">Dress for Success</a>						
						<a class="product a" href="#">X</a>
					</div> 
				</div> 
			</div><!-- .coda-slider --> 
		</div><!-- .coda-slider-wrapper -->	
	</div><!-- /.slideshow-wrapper -->
</section>