<section id="slideshow"> 
  <div class="coda-slider-wrapper"> 
    <div class="coda-slider preload" id="coda-slider-1"> 
			<div class="panel"> 
				<div class="panel-wrapper"> 
					<%= image_tag 'slideshow_1.png', :alt => "Slideshow_1" %> 
				</div> 
			</div> 
			<div class="panel"> 
				<div class="panel-wrapper"> 
					<%= image_tag 'slideshow_1.png', :alt => "Slideshow_1" %> 
				</div> 
			</div> 
			<div class="panel"> 
				<div class="panel-wrapper"> 
					<%= image_tag 'slideshow_1.png', :alt => "Slideshow_1" %> 
				</div> 
			</div> 
			<div class="panel"> 
				<div class="panel-wrapper"> 
					<%= image_tag 'slideshow_1.png', :alt => "Slideshow_1" %>  
				</div> 
			</div> 
		</div><!-- .coda-slider --> 
	</div><!-- .coda-slider-wrapper -->	
</section>