<%# @suppress_mailing_list_footer = true %>
<%#= render 'shared/banners' %>
<%#= render 'shared/products', :products => @products, :taxon => @taxon %>
<%= render 'home/slideshow' %>
<%= render 'home/value_statement' %>
<%= render 'home/featured_blocks' %>
<div id="announcement"><span>You asked, we delivered - <strong>Free Shipping to the Lower 48</strong></span></div>