<h1>Quality. Fit. Value.</h1>
<div class="about-process">
	<p class="deck">Combatant Gentlemen skips the wholesale middleman to relay our goods directly to the consumer. We save you a large percentage off the merchandise, while still upholding the same quality you would find in the best mens wear retailers.</p>
	<div class="step">
		<span>Step One</span>		
		<%= image_tag("factory-step-1.png") %>
		<h2>Factory Costs</h2>
		<p>From paper patterns to cut &amp; sew, our hand tailored garments are made with great detail and superior quality to ensure the utmost in value.</p>
	</div>
	<div class="step">
		<span>Step Two</span>			
		<%= image_tag("bowtie-step-2.png") %>		
		<h2>The Gent Lab</h2>
		<p>Instead of going through a typical wholesale filter, our garments enter the 'The Gent Lab' where they are stylized and merchandised directly for our clients needs. </p>
	</div>
	<div class="step">
		<span>Step Three</span>		
		<%= image_tag("savings-step-3.png") %>		
		<h2>Customer Savings</h2>
		<p>Our direct-to-consumer model cuts through needless markups that typical outlets obtain and lets us relay our savings over to our fashion forward, yet price conscious consumers.</p>
	</div>
</div>