<h1>Contact Us</h1>
<div class="column left">
	<h2>Mailing Address</h2>
	<p>
			Combatant Gentlemen, LLC<br />
			19500 S. Rancho Way Unit #104<br />
			Rancho Dominguez, CA 90220<br />
	</p>
</div>
<div class="column right">
	<h2>Phone Number &amp; Email</h2>
	<p>
		1-866-966-5436<br />
		info@combatgent.com
	</p>
</div>




