<h1>Returns, Refunds and Exchanges Policy</h1>
<div class="column left">
	<h2>How To Return An Item</h2>
	<p>Your item must be in its original unused condition to be returned, unless there is a manufacturer defect. Your must return the item within 30 days of your purchase.</p>
	<ol type="1">
		<li>Please email returns@combatgent.com to request a refund and we will assign you a tracking # for pickup</li>
		<li>Mail your returned item to:
	     <address>
					<strong>Combatant Gentlemen</strong><br />
					Returns Department - Tracking #<br />
					19500 S. Rancho Way Unit #104<br />
					Rancho Dominguez, CA 90220<br />
			</address>
		</li>
	</ol>
</div>
<div class="column right">
	<h2>Return Exceptions</h2>
	<p>Some items can not be returned if they are opened and clearly damaged by client.</p>
	<p>Merchandise that has been worn, used, or altered will not be accepted for return or exchange.</p>
	<h2>Exchanges</h2>
	<p>If your clothing item is in like new condition, you may exchange your clothing item for a different size or color.</p>
</div>




