<h1>The Perfect Fit</h1>
<div class="column left">
	<p>Welcome to The Perfect Fit, our home for all things that fit how they should. Over the next few months of our BETA roll out, we will continue to add instructional information on how, and why it is important to always obtain</p>
</div>
<div class="column right">
	<p>the best fit in your menswear choices possible. Through a series of Cadet Training Sessions, you will be transformed into the ultimate Combatant Gentlemen.</p>
</div>
<br />
<h2 class="perfect_fit_title">Men's Dress Shirts</h2>
<table id="mens_shirts" class="perfect_fit_chart">
	<tbody>
		<tr>
			<th class="area">Size</th>
			<th>S</th>
			<th>M</th>
			<th>L</th>
			<th>XL</th>
			<th>XXL</th>
			<th>3XL</th>
		</tr>
		<tr>
			<td class="area">Collar Size (inch)</td>
			<td>15&frac34;</td>
			<td>16&frac18;</td>
			<td>16&frac12;</td>
			<td>17</td>
			<td>17&frac14;</td>
			<td>17&frac34;</td>
		</tr>		
		<tr>
			<td class="area">Chest</td>
			<td>43</td>
			<td>45</td>
			<td>46&frac12;</td>
			<td>48</td>
			<td>49&frac12;</td>
			<td>51</td>
		</tr>
		<tr>
			<td class="area">Across Shoulder</td>
			<td>19</td>
			<td>19&frac12;</td>
			<td>20</td>
			<td>21</td>
			<td>21&frac12;</td>
			<td>22</td>
		</tr>
		<tr>
			<td class="area">Sleeve Length</td>
			<td>24</td>
			<td>24&frac12;</td>
			<td>25</td>
			<td>25&frac12;</td>
			<td>26</td>
			<td>26</td>
		</tr>	
		<tr>
			<td class="area">Back Length</td>
			<td>31</td>
			<td>31</td>
			<td>32</td>
			<td>32</td>
			<td>32&frac12;</td>
			<td>32&frac12;</td>
		</tr>	
	</tbody>
</table>
<!-- 
<h2 class="perfect_fit_title">Men's Polo Shirts</h2>
<table id="mens_polo_shirts" class="perfect_fit_chart">
	<thead>
		<tr>
			<th class="size">Size</th>
			<th class="code"></th>
			<th class="small">S</th>
			<th class="medium">M</th>
			<th class="large">L</th>
			<th class="xlarge">XL</th>
			<th class="xxlarge">XXL</th>
			<th class="xxxlarge">XXXL</th>
			<th class="xxxxlarge">4XL</th>
			<th class="xxxxxxlarge">5XL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="size">Front Length Total</td>
			<td class="code">A1</td>
			<td class="small">70</td>
			<td class="medium">72</td>
			<td class="large">74</td>
			<td class="xlarge">76</td>
			<td class="xxlarge">78</td>
			<td class="xxxlarge">80</td>
			<td class="xxxxlarge" rowspan="16" colspan="2" valign="middle"><span>For larger &amp; special custom made sizes, email your measurements to <a href="mailto:info@combatgent.com">info@combatgent.com</a></span></td>
		</tr>
		<tr>
			<td class="size">Back Length Total</td>
			<td class="code">A2</td>
			<td class="small">70</td>
			<td class="medium">72</td>
			<td class="large">74</td>
			<td class="xlarge">76</td>
			<td class="xxlarge">78</td>
			<td class="xxxlarge">80</td>
		</tr>		
		<tr>
			<td class="size">&frac12; Chest (1cm above armhole)</td>
			<td class="code">B</td>
			<td class="small">53</td>
			<td class="medium">55</td>
			<td class="large">57</td>
			<td class="xlarge">59</td>
			<td class="xxlarge">61</td>
			<td class="xxxlarge">63</td>
		</tr>		
		<tr>
			<td class="size">&frac12; Waist (15cm above armhole)</td>
			<td class="code">C</td>
			<td class="small">52</td>
			<td class="medium">54</td>
			<td class="large">56</td>
			<td class="xlarge">58</td>
			<td class="xxlarge">60</td>
			<td class="xxxlarge">62</td>
		</tr>	
		<tr>
			<td class="size">&frac12; Bottom Opening</td>
			<td class="code">D</td>
			<td class="small">51</td>
			<td class="medium">53</td>
			<td class="large">55</td>
			<td class="xlarge">57</td>
			<td class="xxlarge">59</td>
			<td class="xxxlarge">61</td>
		</tr>		
		<tr>
			<td class="size">Sleeve Length (from Above)</td>
			<td class="code">E1</td>
			<td class="small">21 &frac12;</td>
			<td class="medium">23</td>
			<td class="large">24 &frac12;</td>
			<td class="xlarge">26</td>
			<td class="xxlarge">27 &frac12;</td>
			<td class="xxxlarge">29</td>
		</tr>
		<tr>
			<td class="size">Sleeve Length (from below)</td>
			<td class="code">E2</td>
			<td class="small">9</td>
			<td class="medium">10</td>
			<td class="large">11</td>
			<td class="xlarge">12</td>
			<td class="xxlarge">13</td>
			<td class="xxxlarge">14</td>
		</tr>
		<tr>
			<td class="size">Straight Armhole (point to point)</td>
			<td class="code">F</td>
			<td class="small">26</td>
			<td class="medium">27</td>
			<td class="large">28</td>
			<td class="xlarge">29</td>
			<td class="xxlarge">30</td>
			<td class="xxxlarge">31</td>
		</tr>	
		<tr>
			<td class="size">Single Shoulder</td>
			<td class="code">G</td>
			<td class="small">15</td>
			<td class="medium">16</td>
			<td class="large">17</td>
			<td class="xlarge">18</td>
			<td class="xxlarge">19</td>
			<td class="xxxlarge">20</td>
		</tr>
		<tr>
			<td class="size">Shoulder Across (back)</td>
			<td class="code">H</td>
			<td class="small">46</td>
			<td class="medium">48</td>
			<td class="large">50</td>
			<td class="xlarge">52</td>
			<td class="xxlarge">54</td>
			<td class="xxxlarge">56</td>
		</tr>					
		<tr>
			<td class="size">Front Placket Length (3 buttons)</td>
			<td class="code">I</td>
			<td class="small">17</td>
			<td class="medium">17</td>
			<td class="large">17</td>
			<td class="xlarge">17</td>
			<td class="xxlarge">17</td>
			<td class="xxxlarge">17</td>
		</tr>
		<tr>
			<td class="size">Side Vents Length Back</td>
			<td class="code">J1</td>
			<td class="small"></td>
			<td class="medium"></td>
			<td class="large"></td>
			<td class="xlarge"></td>
			<td class="xxlarge"></td>
			<td class="xxxlarge"></td>
		</tr>		
		<tr>
			<td class="size">Side Vents Length Front</td>
			<td class="code">J2</td>
			<td class="small"></td>
			<td class="medium"></td>
			<td class="large"></td>
			<td class="xlarge"></td>
			<td class="xxlarge"></td>
			<td class="xxxlarge"></td>
		</tr>
		<tr>
			<td class="size">Sleeve Cuff Opening (relax)</td>
			<td class="code">K</td>
			<td class="small">14</td>
			<td class="medium">15</td>
			<td class="large">16</td>
			<td class="xlarge">17</td>
			<td class="xxlarge">18</td>
			<td class="xxxlarge">19</td>
		</tr>		
		<tr>
			<td class="size">Total Neck Opening (from button to buttonhole)</td>
			<td class="code">L</td>
			<td class="small">39</td>
			<td class="medium">40</td>
			<td class="large">41</td>
			<td class="xlarge">42</td>
			<td class="xxlarge">43</td>
			<td class="xxxlarge">44</td>
		</tr>		
		<tr>
			<td class="size">Front Placket Width</td>
			<td class="code">M</td>
			<td class="small">3 &frac12;</td>
			<td class="medium">3 &frac12;</td>
			<td class="large">3 &frac12;</td>
			<td class="xlarge">3 &frac12;</td>
			<td class="xxlarge">3 &frac12;</td>
			<td class="xxxlarge">3 &frac12;</td>
		</tr>		
	</tbody>
</table>

<h2 class="perfect_fit_title">Men's Leisure Pants</h2>
<table id="mens_leisure_pants" class="perfect_fit_chart">
	<thead>
		<tr>
			<th class="area">Size</th>
			<th class="code"></th>
			<th class="value">28</th>
			<th class="value">30</th>
			<th class="value">31</th>			
			<th class="value">32</th>
			<th class="value">33</th>
			<th class="value">34</th>			
			<th class="value">35</th>
			<th class="value">36+</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="area">Waist</td>
			<td class="code">A</td>
			<td class="value">72 &frac12;</td>
			<td class="value">77 &frac12;</td>
			<td class="value">80</td>
			<td class="value">82 &frac12;</td>
			<td class="value">85</td>
			<td class="value">87 &frac12;</td>
			<td class="value">90</td>
			<td class="value" rowspan="10"><span>Contact<br />Us</span></td>
		</tr>
		<tr>
			<td class="area">Hip</td>
			<td class="code">B</td>
			<td class="value">94</td>
			<td class="value">98</td>
			<td class="value">100</td>
			<td class="value">102</td>
			<td class="value">104</td>
			<td class="value">106</td>
			<td class="value">108</td>
		</tr>
		<tr>
			<td class="area">Outseam Length</td>
			<td class="code">C</td>
			<td class="value">103</td>
			<td class="value">105</td>
			<td class="value">105</td>
			<td class="value">107</td>
			<td class="value">107</td>
			<td class="value">109</td>
			<td class="value">109</td>
		</tr>
		<tr>
			<td class="area">Front Rise</td>
			<td class="code">D</td>
			<td class="value">25</td>
			<td class="value">26</td>
			<td class="value">26</td>
			<td class="value">27</td>
			<td class="value">27</td>
			<td class="value">28</td>
			<td class="value">28</td>
		</tr>
		<tr>
			<td class="area">Thigh</td>
			<td class="code">E</td>
			<td class="value">57</td>
			<td class="value">59</td>
			<td class="value">60</td>
			<td class="value">61</td>
			<td class="value">62</td>
			<td class="value">63</td>
			<td class="value">64</td>
		</tr>
		<tr>
			<td class="area">Knee</td>
			<td class="code">F</td>
			<td class="value">42 &frac12;</td>
			<td class="value">44 &frac12;</td>
			<td class="value">45 &frac12;</td>
			<td class="value">46 &frac12;</td>
			<td class="value">47 &frac12;</td>
			<td class="value">48 &frac12;</td>
			<td class="value">49 &frac12;</td>
		</tr>
		<tr>
			<td class="area">Leg Opening</td>
			<td class="code">G</td>
			<td class="value">39</td>
			<td class="value">40</td>
			<td class="value">40 &frac12;</td>
			<td class="value">41</td>
			<td class="value">41 &frac12;</td>
			<td class="value">42</td>
			<td class="value">42 &frac12;</td>
		</tr>		
</table>

<h2 class="perfect_fit_title">Milano Jacket</h2>
<table id="milano_jacket" class="perfect_fit_chart">
	<thead>
		<tr>
			<th class="area"></th>
			<th class="code"></th>
			<th class="value">36</th>
			<th class="value">37</th>
			<th class="value">38</th>
			<th class="value">39</th>
			<th class="value">40</th>
			<th class="value">41</th>
			<th class="value">42</th>
			<th class="value">43</th>
			<th class="value">44</th>
			<th class="value">45</th>
			<th class="value">46</th>
			<th class="value">47</th>		
			<th class="value">48</th>		
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="area">Across Shoulder</td>
			<td class="code">&frac14;"</td>
			<td class="value">17</td>
			<td class="value">17 &frac14;</td>
			<td class="value">17 &frac12;</td>
			<td class="value">17 &frac34;</td>
			<td class="value">18</td>
			<td class="value">18 &frac14;</td>
			<td class="value">18 &frac12;</td>
			<td class="value">18 &frac34;</td>
			<td class="value">19</td>
			<td class="value">19 &frac14;</td>
			<td class="value">19 &frac12;</td>
			<td class="value">19 &frac34;</td>		
			<td class="value">20</td>
		</tr>
		<tr>
			<td class="area">Across Back</td>
			<td class="code"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>		
			<td class="value"></td>
		</tr>		
		<tr>
			<td class="area">7" down from Highest Point</td>
			<td class="code">&frac14;"</td>
			<td class="value">16 &frac14;</td>
			<td class="value">16 &frac12;</td>
			<td class="value">16 &frac34;</td>
			<td class="value">17</td>
			<td class="value">17 &frac14;</td>
			<td class="value">17 &frac12;</td>
			<td class="value">17 &frac34;</td>
			<td class="value">18</td>
			<td class="value">18 &frac14;</td>
			<td class="value">18 &frac12;</td>
			<td class="value">18 &frac34;</td>
			<td class="value">19</td>		
			<td class="value">19 &frac34;</td>
		</tr>		
		<tr>
			<td class="area">Full Chest / 1" Below Arm Hole</td>
			<td class="code">&frac12;"</td>
			<td class="value">37</td>
			<td class="value">38</td>
			<td class="value">39</td>
			<td class="value">40</td>
			<td class="value">41</td>
			<td class="value">42</td>
			<td class="value">43</td>
			<td class="value">44</td>
			<td class="value">45</td>
			<td class="value">46</td>
			<td class="value">47</td>
			<td class="value">48</td>		
			<td class="value">49</td>
		</tr>	
		<tr>
			<td class="area">Full Waist, 18" down from highest point</td>
			<td class="code">&frac12;"</td>
			<td class="value">34</td>
			<td class="value">35</td>
			<td class="value">36</td>
			<td class="value">37</td>
			<td class="value">38</td>
			<td class="value">39</td>
			<td class="value">40</td>
			<td class="value">41</td>
			<td class="value">42</td>
			<td class="value">43</td>
			<td class="value">44</td>
			<td class="value">45</td>		
			<td class="value">46</td>
		</tr>		
		<tr>
			<td class="area">Under Arm Sleeve Length (regular)</td>
			<td class="code">&frac14;"</td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value">17 &frac12;</td>
			<td class="value">44 &frac12;cm</td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>		
			<td class="value"></td>
		</tr>		
		<tr>
			<td class="area">Under Arm Sleeve Length (long)</td>
			<td class="code"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value">18 &frac12;</td>
			<td class="value">47 cm</td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>
			<td class="value"></td>		
			<td class="value"></td>
		</tr>		
		<tr>
			<td class="area">Center Back (regular)</td>
			<td class="code">&frac14;"</td>
			<td class="value">29 &frac12;</td>
			<td class="value">29 &frac58;</td>
			<td class="value">29 &frac34;</td>
			<td class="value">29 &frac78;</td>
			<td class="value">30</td>
			<td class="value">30 &frac18;</td>
			<td class="value">30 &frac14;</td>
			<td class="value">30 &frac38;</td>
			<td class="value">30 &frac12;</td>
			<td class="value">30 &frac58;</td>
			<td class="value">30 &frac34;</td>
			<td class="value">30 &frac78;</td>		
			<td class="value">31</td>
		</tr>	
		<tr>
			<td class="area">Center Back (long)</td>
			<td class="code"></td>
			<td class="value">30 &frac12;</td>
			<td class="value">30 &frac58;</td>
			<td class="value">30 &frac34;</td>
			<td class="value">30 &frac78;</td>
			<td class="value">31</td>
			<td class="value">31 &frac18;</td>
			<td class="value">31 &frac14;</td>
			<td class="value">31 &frac38;</td>
			<td class="value">31 &frac12;</td>
			<td class="value">31 &frac58;</td>
			<td class="value">31 &frac34;</td>
			<td class="value">31 &frac78;</td>		
			<td class="value">32</td>
		</tr>			
		<tr>
			<td class="area">Front Length (regular)</td>
			<td class="code">&frac14;"</td>
			<td class="value">30 &frac12;</td>
			<td class="value">30 &frac58;</td>
			<td class="value">30 &frac34;</td>
			<td class="value">30 &frac78;</td>
			<td class="value">31</td>
			<td class="value">31 &frac18;</td>
			<td class="value">31 &frac14;</td>
			<td class="value">31 &frac38;</td>
			<td class="value">31 &frac12;</td>
			<td class="value">31 &frac58;</td>
			<td class="value">31 &frac34;</td>
			<td class="value">31 &frac78;</td>		
			<td class="value">32</td>
		</tr>	
		<tr>
			<td class="area">Front Length (long)</td>
			<td class="code"></td>
			<td class="value">31 &frac12;</td>
			<td class="value">31 &frac58;</td>
			<td class="value">31 &frac34;</td>
			<td class="value">31 &frac78;</td>
			<td class="value">32</td>
			<td class="value">32 &frac18;</td>
			<td class="value">32 &frac14;</td>
			<td class="value">32 &frac38;</td>
			<td class="value">32 &frac12;</td>
			<td class="value">32 &frac58;</td>
			<td class="value">32 &frac34;</td>
			<td class="value">32 &frac78;</td>		
			<td class="value">33</td>
		</tr>			

		<tr>
			<td class="area">Lapel Width</td>
			<td class="code">0</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
		</tr>		
		<tr>
			<td class="area">Collar Point</td>
			<td class="code">0</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
			<td class="value">1</td>
		</tr>	
		<tr>
			<td class="area">Lapel Point</td>
			<td class="code">0</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
			<td class="value">1 &frac14;</td>
		</tr>			
		<tr>
			<td class="area">Collar Fall from HP</td>
			<td class="code">0</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
			<td class="value">2 &frac12;</td>
		</tr>			
		<tr>
			<td class="area">Mid Sleeve, 8" above sleeve opening</td>
			<td class="code">&frac18;"</td>
			<td class="value">6 &frac58;</td>
			<td class="value">6 &frac58;</td>
			<td class="value">6 &frac58;</td>
			<td class="value">6 &frac58;</td>
			<td class="value">6 &frac58;</td>
			<td class="value">6 &frac34;</td>
			<td class="value">6 &frac34;</td>
			<td class="value">6 &frac34;</td>
			<td class="value">6 &frac34;</td>
			<td class="value">6 &frac34;</td>
			<td class="value">6 &frac78;</td>
			<td class="value">6 &frac78;</td>		
			<td class="value">6 &frac78;</td>
		</tr>	
		<tr>
			<td class="area">Full Sleeve Opening</td>
			<td class="code">&frac18;"</td>
			<td class="value">11 &frac34;</td>
			<td class="value">11 &frac34;</td>
			<td class="value">11 &frac34;</td>
			<td class="value">11 &frac34;</td>
			<td class="value">11 &frac34;</td>
			<td class="value">11 &frac78;</td>
			<td class="value">11 &frac78;</td>
			<td class="value">11 &frac78;</td>
			<td class="value">11 &frac78;</td>
			<td class="value">11 &frac78;</td>
			<td class="value">11 &frac78;</td>
			<td class="value">11 &frac78;</td>		
			<td class="value">11 &frac78;</td>
		</tr>		
		<tr>
			<td class="area">Bicep, 1" below under arm</td>
			<td class="code">&frac18;"</td>
			<td class="value">7 &frac78;</td>
			<td class="value">7 &frac78;</td>
			<td class="value">7 &frac78;</td>
			<td class="value">7 &frac78;</td>
			<td class="value">7 &frac78;</td>
			<td class="value">8</td>
			<td class="value">8</td>
			<td class="value">8</td>
			<td class="value">8</td>
			<td class="value">8</td>
			<td class="value">8 &frac14;</td>
			<td class="value">8 &frac14;</td>		
			<td class="value">8 &frac14;</td>
		</tr>		
		<tr>
			<td class="area">Shoulder Slope</td>
			<td class="code">&frac18;"</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
			<td class="value">2 &frac14;</td>
		</tr>
		<tr>
			<td class="area">Pocket from HP</td>
			<td class="code">&frac18;"</td>
			<td class="value">21</td>
			<td class="value">21</td>
			<td class="value">21</td>
			<td class="value">21</td>
			<td class="value">21</td>
			<td class="value">21 &frac18;</td>
			<td class="value">21 &frac18;</td>
			<td class="value">21 &frac18;</td>
			<td class="value">21 &frac18;</td>
			<td class="value">21 &frac18;</td>
			<td class="value">21 &frac14;</td>
			<td class="value">21 &frac14;</td>		
			<td class="value">21 &frac14;</td>
		</tr>	
		<tr>
			<td class="area">Flap Length</td>
			<td class="code">0</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
			<td class="value">6 &frac14;</td>
		</tr>		
		<tr>
			<td class="area">Flap Width</td>
			<td class="code">0</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
			<td class="value">1 &frac34;</td>
		</tr>		
		<tr>
			<td class="area">Breast Pocket from HP</td>
			<td class="code">&frac18;"</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac14;</td>
		</tr>
		<tr>
			<td class="area">1st Button Placement from HP</td>
			<td class="code">&frac18;"</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>
			<td class="value">17</td>	
			<td class="value">17</td>
		</tr>
		<tr>
			<td class="area">Button Spacing</td>
			<td class="code">0</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
			<td class="value">4 &frac12;</td>
		</tr>		
		<tr>
			<td class="area">Button Placement, CF to Edge</td>
			<td class="code"></td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
			<td class="value">&frac12;</td>
		</tr>
		<tr>
			<td class="area">Armhole</td>
			<td class="code"></td>
			<td class="value">9 &frac12;</td>
			<td class="value">9 &frac12;</td>
			<td class="value">9 &frac12;</td>
			<td class="value">9 &frac12;</td>
			<td class="value">9 &frac12;</td>
			<td class="value">9 &frac58;</td>
			<td class="value">9 &frac58;</td>
			<td class="value">9 &frac58;</td>
			<td class="value">9 &frac58;</td>
			<td class="value">9 &frac58;</td>
			<td class="value">9 &frac34;</td>
			<td class="value">9 &frac34;</td>
			<td class="value">9 &frac34;</td>
		</tr>		
	</tbody>
</table>

<h2 class="perfect_fit_title">Men's Milano Pant</h2>
<table id="milano_pant" class="perfect_fit_chart">
	<thead>
		<tr>
			<th class="area"></th>
			<th class="code"></th>
			<th class="value">29</th>
			<th class="value">30</th>
			<th class="value">31</th>
			<th class="value">32</th>
			<th class="value">33</th>
			<th class="value">34</th>
			<th class="value">35</th>
			<th class="value">36</th>
			<th class="value">37</th>
			<th class="value">38</th>
			<th class="value">39</th>
			<th class="value">40</th>
			<th class="value">41</th>																																				
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="area">Waist</td>
			<td class="code">&frac14;"</td>
			<td class="value">30</td>
			<td class="value">31</td>
			<td class="value">32</td>
			<td class="value">33</td>
			<td class="value">34</td>
			<td class="value">35</td>
			<td class="value">36</td>
			<td class="value">37</td>
			<td class="value">38</td>
			<td class="value">39 &frac12;</td>
			<td class="value">40 &frac12;</td>
			<td class="value">41 &frac12;</td>
			<td class="value">42 &frac12;</td>																																				
		</tr>		
		<tr>
			<td class="area">Seam</td>
			<td class="code">&frac12;"</td>
			<td class="value">38</td>
			<td class="value">39</td>
			<td class="value">40</td>
			<td class="value">41</td>
			<td class="value">42</td>
			<td class="value">42</td>
			<td class="value">44</td>
			<td class="value">45</td>
			<td class="value">46</td>
			<td class="value">47</td>
			<td class="value">48</td>
			<td class="value">49</td>
			<td class="value">50</td>																																				
		</tr>		
		<tr>
			<td class="area">Outseam</td>
			<td class="code">&frac38;"</td>
			<td class="value">46</td>
			<td class="value">46 &frac14;</td>
			<td class="value">46 &frac12;</td>
			<td class="value">46 &frac34;</td>
			<td class="value">47</td>
			<td class="value">47 &frac14;</td>
			<td class="value">47 &frac12;</td>
			<td class="value">47 &frac34;</td>
			<td class="value">48</td>
			<td class="value">48 &frac14;</td>
			<td class="value">48 &frac12;</td>
			<td class="value">48 &frac34;</td>
			<td class="value">49</td>																																				
		</tr>		
		<tr>
			<td class="area">Inseam</td>
			<td class="code">&frac12;"</td>
			<td class="value">35 &frac78;</td>
			<td class="value">36</td>
			<td class="value">36 &frac18;</td>
			<td class="value">36 &frac14;</td>
			<td class="value">36 &frac38;</td>
			<td class="value">36 &frac12;</td>
			<td class="value">36 &frac58;</td>
			<td class="value">36 &frac34;</td>
			<td class="value">36 &frac78;</td>
			<td class="value">37</td>
			<td class="value">37 &frac18;</td>
			<td class="value">37 &frac14;</td>
			<td class="value">37 &frac38;</td>																																				
		</tr>		
		<tr>
			<td class="area">True Rise</td>
			<td class="code">&frac18;"</td>
			<td class="value">10 &frac18;</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac38;</td>
			<td class="value">10 &frac12;</td>
			<td class="value">10 &frac58;</td>
			<td class="value">10 &frac34;</td>
			<td class="value">10 &frac78;</td>
			<td class="value">11</td>
			<td class="value">11 &frac18;</td>
			<td class="value">11 &frac14;</td>
			<td class="value">11 &frac38;</td>
			<td class="value">11 &frac12;</td>
			<td class="value">11 &frac58;</td>																																				
		</tr>		
		<tr>
			<td class="area">Knee 14" Down</td>
			<td class="code">&frac14;"</td>
			<td class="value">8 &frac12;</td>
			<td class="value">8 &frac34;</td>
			<td class="value">8</td>
			<td class="value">9 &frac14;</td>
			<td class="value">9 &frac12;</td>
			<td class="value">9 &frac34;</td>
			<td class="value">10</td>
			<td class="value">10 &frac14;</td>
			<td class="value">10 &frac12;</td>
			<td class="value">10 &frac34;</td>
			<td class="value">11</td>
			<td class="value">11 &frac14;</td>
			<td class="value">11 &frac12;</td>																																				
		</tr>
		<tr>
			<td class="area">Half Bottom</td>
			<td class="code">&frac14;"</td>
			<td class="value">8</td>
			<td class="value">8 &frac18;</td>
			<td class="value">8 &frac14;</td>
			<td class="value">8 &frac38;</td>
			<td class="value">8 &frac12;</td>
			<td class="value">8 &frac58;</td>
			<td class="value">8 &frac34;</td>
			<td class="value">8 &frac78;</td>
			<td class="value">9</td>
			<td class="value">9 &frac18;</td>
			<td class="value">9 &frac14;</td>
			<td class="value">9 &frac38;</td>
			<td class="value">9 &frac12;</td>																																				
		</tr>				
	</tbody>
</table>
-->