<h1>Combat Gent Spring Collection 2012</h1>
<noscript>
	<div>
        <p>Unfortunately your browser does not hava JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:</p>
        <ol>
            <li>You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of <a href="http://www.getfirefox.com">Firefox</a>.</li>
            <li>You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site. <a href="http://www.google.com/support/bin/answer.py?answer=23852">Learn how to enable JavaScript</a>.</li>
        </ol>
    </div>
</noscript>
<div class="coda-slider-wrapper" id="lookbook_wrapper">
	<div class="coda-slider preload" id="lookbook">
		<!-- PANEL 1 -->
		<div class="panel">
			<div class="panel-wrapper" id="slot_4">
				<%= image_tag 'lookbooks/spring12/cg-sc12-4.jpg', :alt => "Spring 12" %>
				<a class="product a" href="/products/CG-LCSU011">X</a>
				<div class="tooltip a" id="/products/CG-LCSU011">
					<div class="product_info">
						<h3>Equity</h3>
						<span class="price">$10.00</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/CG-LCSU011">Go to Item</a>
					</div>
				</div>
				<a class="product b" href="/products/CG-LCSH027">X</a>
				<div class="tooltip b" id="/products/CG-LCSH027">
					<div class="product_info">
						<h3>Purple Mini Gingham</h3>
						<span class="price">$22.99</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/CG-LCSH027">Go to Item</a>
					</div>
				</div>
				<a class="product c" href="/products/CG-LCSU011">X</a>
				<div class="tooltip c" id="tip-cg-lct005">
					<div class="product_info">
						<h3>Equity</h3>
						<span class="price">$10.00</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/CG-LCSU011">Go to Item</a>
					</div>
				</div>				
			</div>
		</div>
		<!-- /PANEL 1 -->
		
		<!-- PANEL 2 -->
		<div class="panel">
			<div class="panel-wrapper" id="slot_3">
				<%= image_tag 'lookbooks/spring12/cg-sc12-3.jpg', :alt => "Spring 12" %> 
				<a class="product a" href="/products/cg-lct005">X</a>
				<div class="tooltip a" id="tip-cg-lct005">
					<div class="product_info">
						<h3>Product Name</h3>
						<span class="price">$15.99</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/cg-lct005">Go to Item</a>
					</div>
				</div>						
				<a class="product b" href="/products/cg-lct005">X</a>
				<div class="tooltip b" id="tip-cg-lct005">
					<div class="product_info">
						<h3>Product Name</h3>
						<span class="price">$15.99</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/cg-lct005">Go to Item</a>
					</div>
				</div>						
				<a class="product c" href="/products/cg-lct005">X</a>
				<div class="tooltip c" id="tip-cg-lct005">
					<div class="product_info">
						<h3>Product Name</h3>
						<span class="price">$15.99</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/cg-lct005">Go to Item</a>
					</div>
				</div>				
			</div>
		</div>
		<!-- /PANEL 2 -->
		
		<!-- PANEL 3 -->
		<div class="panel">
			<div class="panel-wrapper" id="slot_1">
				<%= image_tag 'lookbooks/spring12/cg-sc12-1.jpg', :alt => "Spring 12" %> 
				<a class="product a" href="/products/cg-lct005">X</a>
				<div class="tooltip a" id="tip-cg-lct005">
					<div class="product_info">
						<h3>Black and White Stripe</h3>
						<span class="price">$15.99</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/cg-lct005">Go to Item</a>
					</div>
				</div>
				<a class="product b" href="/products/CG-LCSH028">X</a>
				<div class="tooltip b" id="tip-CG-LCSH028">
					<div class="product_info">
						<h3>Consultant Black Gingham Check </h3>
						<span class="price">$22.99</span>
						<span class="pipe">|</span>
						<a class="item_link" href="/products/CG-LCSH028">Go to Item</a>
					</div>
				</div>				
			</div>
		</div>
		<!-- /PANEL 3 -->
	</div><!-- .coda-slider -->
</div><!-- .coda-slider-wrapper -->


